html, body { height: 100%; }

body {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: sans-serif;
}

h1#brand {
	text-align: center;
	color: #ffffff;
	margin-top: 10px;
	font-size: 2em;
	font-weight: 50;
}

h3 { color: #ffffff; }

li { color: #ffffff; }

li:hover { color: #c9c9c9; cursor: pointer; }

footer { flex-shrink: 0; text-align: center; }

/*.card-deck .card { min-width: 300px }*/

@media only screen and (min-width: 575px) {
	.card-deck .card {
		min-width: 300px;
		margin-top: 1.75rem;
	}
	/*.card-deck .card { min-width: 300px; }*/
}

